.main {
  width: 80%;
  margin: auto;
}

.jokebook_container {
  position:relative;
  width: 60vw;
  min-height: 60vh;
  background-color: white;
  margin-top: 5vh;
  padding-bottom: 45px;
  border: 1px solid #e0e0e0;
  text-align: center;
  border-radius: 1vh;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

  .title {
    height: 45px;
    padding-top: 1.6vh;
    font-weight: 900;
    font-size: 1.4em;
  }

  .container {
    height: 100%;
    display: flex;
  }

}

.joke_detail {
  position: relative;
  margin-left: 10px;
  width: 100%;
  padding: 1vh;
  color: black;
  font-weight: 500;
  text-align: left;

  // overflow: scroll;

  .row {
    margin: auto;
    width: 100%;
    display: flex;
    height: 35px;
  }

  .col {
    padding: 0;
  }

  .col-8 {
    padding: 0;
  }

  .select {
    width: 100%;
    text-align: center;
  }

  .content {
    height: 40vh;
    overflow: scroll;
  }
}
.detail_buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 45px;
  padding-right: 15px;
}
  .delete_button {
    margin-left: 8px;
    font-size: 22px;
    padding: .2rem .65rem;
  }

  .delete_button:hover {
    background-color: #da2727;
    color: white;
  }

  .delete_button:focus {
    background-color: #9c1b1b;
    color: white;
  }

  .edit_button {
    font-size: 22px;
    padding: .2rem .65rem;
  }

  .edit_button:hover {
    background-color: #35a094;
    color: white;
  }

  .edit_button:focus {
    background-color: #2d9185;
    color: white;
  }

#joke_content {
  width: 80%;
  margin: auto;
  min-height: 40px;
}

.joke_container {
  position: relative;
  width: 18vw;
  background-color: white;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 45px;
  border: 1px solid #e0e0e0;
  text-align: center;
  border-radius: 1vh;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);


  .title {
    border-radius: 1vh 1vh 0 0;
    background: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    padding: 1vh 4vh;
    height: 45px;
  }

  .jokeitems {
    // width: 30%;
    min-height: 30vh;
  }

  .joke {
    // display: block;
    min-height: 45px;
    // text-align: left;
    padding: 1vh 4vh;
    color: #c04c4c;
    cursor: pointer;

    .joke_name {
      float: center;
    }
  }
  .joke:hover {
    background-color: #f1f1f1;
  }

  .add_joke_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #35a094;
    font-weight: 900;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    width: 100%;
    border-radius: 0 0 1vh 1vh;
    border-top: 1px solid #f1f1f1;
    background: #f8f8f8;
  }

  .add_joke_btn:hover {
    color: #2d9185;
    background: #f1f1f1;
    border-top: 1px solid #e0e0e0;
  }
}

.joke_list {
  height: 54vh;
  overflow: scroll;
}