.login_container {
  position: relative;
  width: 40vw;
  // min-height: 60vh;
  background-color: white;
  margin: auto;
  margin-top: 15vh;
  padding: 2vw 4vw;
  border-radius: 1vh;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border: 1px solid #e0e0e0;

  .login_title {
    text-align: center;
    // padding: 1.4vh;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 1rem;
    font-size: 18px;
  }

  .btn {
    float: right;
  }

  .signup_link {
    margin-top: 75px;
    text-align: center;
    font-size: 0.9em;
    font-size: 16px;

    .signup_link_button {
      color: blue;
    }
  }

}