a {
  text-decoration: none;
}
.navbar {
  border: none;
  background: #35a094;
  left: 0;
  padding-left: 20px;
  position: fixed;
  right: 0;
  top: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #2d9185;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  font-weight: 900;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #d7f3f0;
}

.nav_button {
  color: white;
  display: block;
  float: right;
  font-weight: 900;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  padding: 0px 10px;
  text-decoration: none;
}

.nav_button:hover {
  // color: #c3ece8;
  background: #2d9185;
}