.newjoke_container {
  position: relative;
  width: 60vw;
  min-height: 60vh;
  background-color: white;
  margin: auto;
  margin-top: 15vh;
  padding: 1vh 3vw;
  border-radius: 1vh;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border: 1px solid #e0e0e0;

  .newjoke_title{
    text-align: center;
    padding: 1.4vh;
    font-weight: 900;
    font-size: 1.2em;
  }

  .cancel {
    margin-left: 10px;
  }

  textarea {
    min-height: 200px;
  }
}

.text-danger {
  font-size: 14px;
  padding: 2px;
}